@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
#welcome-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      45deg,
      rgba(64, 127, 186, 0.9),
      rgba(137, 7, 157, 0.9)
    ),
    url(images/dev.jpg);
  background-position: right;
  background-size: cover;
}
.displaytry {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.text-white {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
}
.displaytry h3 {
  color: #fff;
}
span {
  color: rgb(222, 13, 117);
}
#projects {
  height: 100vh;
  width: 100%;
  background-color: rgb(75, 4, 70);
}
#projects h1 {
  color: #fff;
  text-align: center;
  padding: 80px;
  font-weight: 600;
}
.row {
  height: 400px;
}
.col-4 {
  background-color: rgb(218, 65, 208);
  color: #fff;
  margin: 20px 10px;
  border-radius: 10px;
}

.navbare {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30vw;
}

.listitem {
  display: inline-block;
  cursor: pointer;
  padding: 2% 3%;
}

.listitem a {
  text-decoration: none;
  color: blueviolet;
}

.listitem:hover {
  background-color: turquoise;
}

.listitem:hover a {
  color: #fff;
}

#profile-link-section {
  width: 100vw;
  height: 60vh;
  background-color: blueviolet;
  text-align: center;
  padding: 5%;
}

#profile-link-section h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 5%;
}

#profile-link-section a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.profile-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
}
